:root {
    --corAzul: #0E4194;
    --corAzulSaturada: #E8F0FE;
    --corAmarelo: #F5B800;
    --corLaranja: #FF8000;
    --tamanho16px: 16px;
    --tamanho22px: 22px;
    --tamanho36px: 36px;
}

#btnInfoSenha {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: static;
    opacity: 1;
    transform: translateY(-20px);
}
#campo-senha {
    padding: 0;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

#campo-senha > section:nth-child(1) {
    width: 100%;
}

#campo-senha > section:nth-child(2) {
    width: auto;
    display: flex;
    align-items: center;
}
#campo-senha label {
    margin-left: 3%;
}
#campo-senha > section > input{
    width: 100%;
}
#popUp {
    color: white;
    background-color: var(--corAzul);
    display: none;
    position: fixed;
    opacity: 1;
    width: 400px;
    height: 200px;
    top: 90px;
    left: 0;
    border-radius: 0px 50px 50px 0px;
    z-index: 10;
    text-align: left;
}
#popUp h2 {
    color: white;
    font-weight: 100;
}
#popUp div {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
#popUp ul {
    margin-left: 30px;
}
:has(#infoSenha:checked) #popUp {
    display: block;
}
:has(#infoSenha:checked) #infoSenha {
    margin: 0;
    position: fixed;
    top: 143px;
    left: 318px;
    width: 30px;
    height: 30px;
    z-index: 999;
}
:has(#infoSenha:checked) form img {
    top: 31px;
}